@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CL2_JOSUE_CHUPICA</h1>
    <p class="lead">1. CARRITO DE COMPRAS</p>
    <p class="lead">2. MANTENIMIENTO VENDEDOR</p>
</div>
<br />
<strong><h2 style="text-align:center">CAFETERIA CHUPICA</h2></strong>
<strong><h4 style="text-align:center">DONDE SOLO ENCONTRARAS COSAS RICAS</h4></strong>
<center><img src="~/Img/cafeteria.jpg" /></center>
<br />
<div class="row">
    <div class="col-md-4">
        <h2>1. CREACIÓN DE LA BD</h2>
        <p style="text-align:justify">
            Crearemos la Base de Datos en MS SQL Server la cual nos servira
            para el desarrollo del laboratorio.
        </p>
        <center><img src="~/Img/BaseDatos.png" /></center>
    </div>
    <div class="col-md-4">
        <h2>2. CREACIÓN DE CONTROLADORES Y MÉTODOS</h2>
        <p>
            Se creará el proyecto en VS 2019 y se elaboraran los controladores y
            sus vistas necesarias para que nuestro carrito y nuestro mantenimiento
            tengan la funcionalidad correcta.
        </p>
        <center><img src="~/Img/Visual Studio - copia.png" /></center>
    </div>
    <div class="col-md-4">
        <h2>3. RECURSOS</h2>
        <p>Entity FrameWork</p>
        <p>Visual Studio 2019</p>
        <p>MS SqlServer 2018</p>
        <p>JQuery</p>
        <p>HTML5</p>
        <p>CSS3</p>
        <p>MVC</p>
        <center><img src="~/Img/recursos - copia.png" /></center>
    </div>
</div>